VITE_SUPABASE_URL=https://ctjzfqcokzkxkzepgvci.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0anpmcWNva3preGt6ZXBndmNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwOTg3OTYsImV4cCI6MjA5MjY3NDc5Nn0.GhWZ5HIJqKPe00wyYCnnKleQqV5os6_6JrPnjaXbOmU

